<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Elevador</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Josefin Slab', serif;
      font-size: 22px;
    }
  </style>
</head>

<header>
  <hr>
  <div class="container">
    <div class="col-12">
      <div class="row justify-content-center" style="width:70%; height:70% !important;">
        <img src="/static/images/elevador_logo.jpg" alt="Elevador logo English and Spanish">
      </div>
    </div>
  </div>
  <hr>
</header>

<body>
  <div class="container">
    <div class="row">
      <div class="col-10">


        <h1>What is Elevador?</h1>

        <p>Elevador is a place to learn, discover, a place to take your activities, skills, products and ideas to the next level. Elevador is an open space for makers, learners and enthusiasts. All skill levels are welcome! We organise workshops and activities in the areas of technology, art, literature, languages and teaching, video, creative writing, music etc. Activities can be in any language. Elevador will also host small exhibitions. In addition, Elevador offers a safe space to people who want to start/conduct a group activity such as Meetups, but cannot find or afford a suitable space.</p>

        <p>For activities that fit the Elevador concept, the rule is that there is no charge if the activity is free and open to everyone. You are invited to make a donation for the use of the space, equipment, drinks etc. Elevador can host approx. 12 - 15 people, with foldable furniture that you can use in any way you want: a large table or two smaller tables, chairs in a circle or classroom setting), or a large empty space. A beamer, small fridge and cups and glasses etc. are available.</p>

        <p>Elevador is on Carrer de Llull 267, opposite the lovely Parc Ghandi, where you can relax among the trees during a break. Elevador is close to metro station Poblenou (L4) and only a short walk from the beach. The Elevador Code of Conduct applies to everyone who uses the space in any way, also when communicating about Elevador and those involved in any way.</p>
      </div>

    </div>

  </div>
