<h1>What is Elevador?</h1>

<p>Elevador wants to offer a safe space to people who want to start/conduct a group activity such as Meetups, but cannot find or afford a suitable space. Activities can be in any language: Elevador welcomes everyone with plans for activities that fall within the Elevador concept.</p>
<p>For activities that fit the Elevador concept, the rule is that there is no charge if the activity is free and open to everyone. You are invited to make a donation for the use of the space, equipment, drinks, etc. For paid activities that fit the Elevador concept, you as organiser will agree a fee with Elevador (bank account, PayPal or cash) depending on what participants pay. If an invoice is needed, the normal VAT rate applies in addition to the agreed fee.</p>
<p>The Elevador Code of Conduct applies to everyone who uses the space in any way, also when communicating about Elevador and those involved in any way.</p>


<h2>Read all about this concept</h2>
