<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>About Elevador</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Josefin Slab', serif;
      font-size: 21px;
    }
  </style>
</head>

<header>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="mx-auto d-block" src="/static/images/elevador_logo.jpg" alt="Elevador logo English and Spanish">
      </div>
    </div>
  </div>
  <hr>
</header>

<body>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-9">
        <h1>About Elevador</h1>
        <p>Elevador is a place to take your activities, skills, products and ideas to the next level. It is an open space for makers, learners and enthusiasts. All skills levels are welcome! We organise workshops and activities in the areas of technology, art, literature, languages, video, creative writing, music etc. In addition, Elevador organises small concerts and exhibitions. Elevador offers a safe space to people who want to start/conduct a group activity such as Meetups, but cannot find or afford a suitable space. Activities can be in any language.</p>
        <p>For activities that fit in with the Elevador concept, the rule is that there is no charge if the activity is free and open to everyone. You are invited to make a donation for the use of the space, equipment, drinks, etc. Elevador can host 12 to 15 people. There is foldable furniture that you can use in any way you want: a large table or two smaller tables, chairs in a circle or classroom setting, or a large empty space. A beamer, small fridge and cups and glasses etc. are available. <a href="{% url 'codeofconduct' %}" target="_blank">The Elevador Code of Conduct</a> applies to everyone who uses the space in any way, also when communicating about Elevador and those involved in any way.</p>
        <p>Elevador is on Carrer de Llull 267, opposite the lovely Parc Gandhi, where you can relax among the trees during a break. Elevador is close to metro station Poblenou (L4) and only a short walk from the beach.</p>
      </div>
      <div class="col-3">
        <h4>
        <ul class="nav flex-column justify-content-end text-right">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}" target="_blank">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}" target="_blank">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery' %}" target="_blank">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}" target="_blank">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'explaingraveproject' %}" target="_blank">Past exhibitions</a>
          </li>
        </ul>
        </h4>
        <br>
        <div>
          <img src="/static/images/music_guitar.jpg" class="card-img-top rounded" alt="Turntable, records and guitar">
        </div>
        <br>
        <div>
          <img src="/static/images/front_to_back.jpg" class="card-img-top" alt="View from front to back of Elevador space ">
        </div>
        <br>
        <div>
          <img src="/static/images/grass.jpg" class="card-img-top rounded" alt="Person relaxing in park">
        </div>
      </div>
    </div>
  </div>
  <br>
  <footer class="text-muted">
    <div class="container text-center" style="font-size: 16px; line-height:1;">
      <p>The beautiful font used for this website is called 'Josefin Slab' and was designed by <a href="https://fonts.google.com/specimen/Josefin+Slab?selection.family=Josefin+Slab/" target="_blank">Santiago Orozco</a></p>
      <p>©️ Henriette Hettinga {% now "Y" %}</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
