<h1>Our contact details:</h1>

<h2>Contact us!</h2>

<p>Email en telefoon
  Kaartje google
  Link Meetup</p>
  <div class="col-2">
    <h4>
    <ul class="nav flex-column justify-content-end text-right">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'about' %}" target="_blank">About Elevador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gallery' %}" target="_blank">Photo gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'who' %}" target="_blank">Who we are</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}" target="_blank">Contact</a>
      </li>
    </ul>
    </h4>
  </div>
