<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Elevador</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Josefin Slab', serif;
      font-size: 36px;
    }
  </style>
</head>

<header>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="mx-auto d-block" src="/static/images/elevador_logo.png" alt="Elevador logo English and Spanish">
      </div>
    </div>
  </div>
  <hr>
</header>


<body>
<h1>Our contact details:</h1>

<h2>Contact us!</h2>

<p>Contact formulier
  Email en telefoon
  Kaartje google
  Link Meetup</p>
  <div class="col-2">
    <h4>
    <ul class="nav flex-column justify-content-end text-right">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'about' %}" target="_blank">About Elevador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gallery' %}" target="_blank">Photo gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'who' %}" target="_blank">Who we are</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}" target="_blank">Contact</a>
      </li>
    </ul>
    </h4>
  </div>
</body>
</html>
