<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Elevador: coming up</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Josefin Slab', serif;
      font-size: 20px;
    }
  </style>
</head>

<header>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="mx-auto d-block" src="/static/images/elevador_logo.jpg" alt="Elevador logo English and Spanish">
      </div>
    </div>
  </div>
  <hr>
</header>
<body>
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1>The Grave project</h1>
        <h4><i>A collaboration between Jess Miley and Derek Sargent</i></h4>
        <p><i>Jess Miley is a visual artist who founded Ways House, a queer feminist art residency. She has a BA in Design and M. of Landscape Architecture, and is Co-Director of the Lovefest festival, Budapest Hungary, and Co-Director of the FELTspace Gallery, Adelaide Australia. Among other things, she won the Advertiser Contemporary Art Award, with Derek Sargent. Derek Sargent has a M. of Fine Arts and BA of Visual Arts. They have staged many exhibitions related to identity and perceptions in the context of feministm, LGTB+ and non-conformity. They explain the Grave Project here in their own words.</i></p>
        <br>
        <p>"We research individuals who had an impact on non-normative popular and/or queer culture. Usually these people had an impact on their own national culture but are less known outside of their place of birth/community. We use this research as a base for a performance that involves making a pilgrimage to their burial sites. This performance is documented by photography and film. The performance can involve costumes, props, and movement.</p>
        <p>Initially, the Grave Project focused on figures that held massive fame within their own country but were rarely recognised outside of it. It evolved to seeking individuals more related to our own artistic practice and research. These individuals tended to have personal biographies that had been altered by their nation state to present a narrative that agreed with the social and political mood of the time. Our research and documentation aimed to highlight aspects of their life that contradicted this public image, and centers on the specific mobilisations and representational practices around their death.</p>
        <p>From our presence in Eastern Europe, and specifically Budapest where we were conscious of being outsiders in terms of our own queerness and our Western origins, the research we undertook was done with a self-reflexive understanding of our position, both as  queers and as outsiders to the dominant histories of this geo-political space specifically.</p>
        <h5><b>Two key figures in the project: Tamas Kiraly and Ondrej Nepela</b></h5>
        <p>Tamas Kiraly operated in Budapest largely during the 1980’s. His work and public persona was known to be ‘tolerated’ by the governmental regime of the time. The particular circumstances of his death may have impacted the way he is now widely regarded, or not, as a key figure of 80’/90’s art scene. Kiraly is reported to have died by strangulation during a sex act with another man. The man in question was later sentenced to ten years prison for manslaughter. Our initial observations show that the particular queerness of Kiraly’s death is either ignored or amplified by the media in order to satisfy a specific agenda and dominant narrative. As example, when he is referred to as a success, the widely known fact of his queer life is ignored, while his death during a ‘non-normative sex act’ is also often used to degenerate his memory.</p>
        <p>These observations come in comparison to another highly regarded Eastern European gay man, Andrej Nepala. This Slovakian ice skater was adored by the country and considered a national hero. However, his death from complications related to the AIDS virus is almost always overlooked by the media and popular perception so that he can remain on the pedestal given to him by the state. His death is used as a tool to discredit him by focussing on the unacceptable circumstances of it, or the queerness of it.</p>
        <p>Currently the project unfolds as two distinct chapters, Women of Infamy and Queer Public.</p>
        <h5><b>Women of infamy</b></h5>
        <p>This chapter of the project focuses on women of historic interest whose notoriety set them apart from mainstream society. These individuals were either fetishised or moralised for their controversial and unusual life choices. We broadened the definition of queerness to include non-normative histories and people. This was important to us because it recognises how history typically preferences male stories.</p>
        <p><i>Germany: </i>The women in this series ranged from Anita Berber who challenged notions of gender and performance to Leni Riefenstahl who dominated the field of filmmaking by forging a career collaborating with a fascist government. Other women included Anneliese Michel whose infamy was created by others who had power over her.</p>
        <p><i>Romania: </i>The women we visited in Romania ranged from Ana Aslan, a controversial gerontologist who convinced the Hollywood and political elite of the time that she had created the elixir of youth, to Elena Ceausescu whose life included instances of academic fraudulence and authoritarian megalomania.</p>
        <p><b>Queer Public</b></p>
        <p>This chapter examines the lives and deaths of queer public figures. The majority of these figures lived unconventional and public lives. Their queerness often played a large role in their biographical narrative. Where they lived, either by choice or not, had a profound effect on their queer story.</p>
        <p><i>Queers of the East: </i>This series is an extension of our original research into the lives and deaths of eastern European queer public figures. We restricted our research to Hungary. Figures we visited included El Kazovsky, a Russian born artist who worked in Budapest as transman. He was one of the most well-known artists of the late-twentieth century in Hungary despite this obvious conflict with the socio-political condition of the time. Another figure was Karl Maria Kertbeny, a journalist who coined the term ‘homosexual’ as part of his work as a gay rights activist.</p>
        <p><i>Queer Expats of Paris: </i>This series examines the lives and deaths of the queer diaspora located in Paris. Each person in the series chose to live their life at some point in Paris, often escaping restrictive conditions in their place of birth. People in the series included Bella Darvi who escaped Nazi Poland for the relative safety of Paris but whose life was tragically short anyway. Other figures included Vaslav Nijinsky, one of the greatest male ballet dancers of the twentieth century. His time in Paris both created and destroyed him."</p>
      </div>
      <div class="col-2">
        <h4>
        <ul class="nav flex-column justify-content-end text-right">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}" target="_blank">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}" target="_blank">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery' %}" target="_blank">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}" target="_blank">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'explaingraveproject' %}" target="_blank">Upcoming Events</a>
          </li>
        </ul>
        </h4>
        <br>
        <br>
        <div class="text-center" style="font-size: 32px;">
          <b><span style="color:#ff0000;">W</span><span style="color:#ff7f00;">e</span><span style="color:#ffff00;">l</span><span style="color:#00ff00;">c</span><span style="color:#00ffff;">o</span><span style="color:#0000ff;">m</span><span style="color:#8b00ff;">e</span></b>
        </div>
        <br>
        <br>
        <div>
          <a href="https://commons.wikimedia.org/wiki/File:Straightally.svg"><img class="mx-auto d-block" width="64" alt="Inverted pink triangle: symbol for safe space LGBT+" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Straightally.svg/64px-Straightally.svg.png"></a>
        </div>
        <br>
        <br>
        <br>
        <div>
          <figure>
            <img class="img-fluid" src="http://everydayfeminism.com/wp-content/uploads/2014/08/safespace2-300x238.jpg" data-lazy-type="image" data-src="http://everydayfeminism.com/wp-content/uploads/2014/08/safespace2-300x238.jpg" alt="Source: Creativity, Not Control" srcset="https://everydayfeminism.com/wp-content/uploads/2014/08/safespace2-300x238.jpg 300w, https://everydayfeminism.com/wp-content/uploads/2014/08/safespace2.jpg 750w" data-srcset="" sizes="(max-width: 300px) 100vw, 300px" width="100%" height="auto">
            <div class="caption text-center" style="font-size: 11px;" id="caption-attachment-23706">Source: creativitynotcontrol.wordpress.com</div>
          </figure>
        </div>
        <br>
      </div>
    </div>

  </div>
  <br>
  <footer class="text-muted">
    <div class="container text-center" style="font-size: 16px; line-height:1;">
      <p>The beautiful font used for this website is called 'Josefin Slab' and was designed by <a href="https://fonts.google.com/specimen/Josefin+Slab?selection.family=Josefin+Slab/" target="_blank">Santiago Orozco</a></p>
      <p>©️ Henriette Hettinga {% now "Y" %}</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
