<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Elevador Gallery</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
  <style>
  body {
    font-family: 'Josefin Slab', serif;
    font-size: 21px;
  }
  </style>
</head>

<header>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="mx-auto d-block" src="/static/images/elevador_logo.jpg" alt="Elevador logo English and Spanish">
      </div>
    </div>
  </div>
  <hr>
</header>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/exhibition3.jpg" class="card-img-top" alt="Martin Ledesma, Catalan painter, in front of one of his paintings">
          <div class="card-body">
            <p class="card-text">Martin Ledesma, Catalan painter, in front of one of his paintings</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/exhibition4.jpg" class="card-img-top" alt="Martin Ledesma with visitors of his exhibition discussing his work">
          <div class="card-body">
            <p class="card-text">Martin Ledesma with visitors of his exhibition discussing his work</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/exhibition2.jpg" class="card-img-top" alt="Visitors of the exhibition talking and admiring the work of Martin Ledesma">
          <div class="card-body">
            <p class="card-text">Visitors of the exhibition talking and admiring the work of Martin Ledesma</p>
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
  <br>
  <div class="col-2">
    <h4>
      <ul class="nav flex-column justify-content-end text-right">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}" target="_blank">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}" target="_blank">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery' %}" target="_blank">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}" target="_blank">Contact</a>
        </li>
      </ul>
    </h4>
  </div>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub3.jpg" class="card-img-top" alt="Instructions during Workshop filmmaking">
          <div class="card-body">
            <p class="card-text">Instructions during the workshop videomaking</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub6.jpg" class="card-img-top" alt="Workshop filmmaking: Write the script, act and direct your video">
          <div class="card-body">
            <p class="card-text">Write the script, act and direct your video</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub2.jpg" class="card-img-top" alt="Brainstorming during the video workshop">
          <div class="card-body">
            <p class="card-text">Brainstorming during the video workshop</p>
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub9.jpg" class="card-img-top" alt="Filmmaking group with teacher, discussing the acting session">
          <div class="card-body">
            <p class="card-text">Discussing the acting session</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub8.jpg" class="card-img-top" alt="Workshop Videomaking, from scriptwriting to shooting, teacher giving instructions">
          <div class="card-body">
            <p class="card-text">Videomaking, from scriptwriting to shooting</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub1.jpg" class="card-img-top" alt="Acting session: acting and directing your own script">
          <div class="card-body">
            <p class="card-text">Acting and directing your own script</p>
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/mel_audience.jpeg" class="card-img-top" alt="Mel Brennan chatting with audience during her concert">
          <div class="card-body">
            <p class="card-text">Mel Brennan in concert</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/mel_merlyn3.jpg" class="card-img-top" alt="Mel Brennan in concert joined by musician Merlyn Briceno">
          <div class="card-body">
            <p class="card-text">Concert Mel Brennan, joined by Merlyn Briceno</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/mel_chatting.jpeg" class="card-img-top" alt="Mel Brennan and audience talking during break">
          <div class="card-body">
            <p class="card-text">Mel Brennan and audience talking during break</p>
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/donations.jpg" class="card-img-top" alt="Hat with donations for Elevador activities, which are mostly free">
          <div class="card-body">
            <p class="card-text">Many Elevador activities are donation based</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/guitars_bongos.jpg" class="card-img-top" alt="Guitars and bongos for the Beer & Blues sessions">
          <div class="card-body">
            <p class="card-text">Guitars and bongos for the Beer & Blues sessions</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/working.jpg" class="card-img-top" alt="Person working in main space with beamer projecting logo on wall">
          <div class="card-body">
            <p class="card-text">Beamer, whiteboard and blackboard available</p>
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/front_to_back.jpg" class="card-img-top" alt="View of the Elevador space from front to back, with two tables">
          <div class="card-body">
            <p class="card-text">The Elevador space from front to back (two tables)</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/main_area.jpg" class="card-img-top" alt="View of the Elevador main space with one big table">
          <div class="card-body">
            <p class="card-text">The Elevador main space with one big table</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/fridge_table.jpg" class="card-img-top" alt="Table to prepare drinks and food, with fridge">
          <div class="card-body">
            <p class="card-text">Refrigerator and table to prepare drinks and food</p>
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/park.jpg" class="card-img-top" alt="View from the Elevador space on the Gandhi park opposite">
          <div class="card-body">
            <p class="card-text">The Elevador space is opposite the lovely Gandhi park</p>
          </div>
        </div>
      </div>
      <div class="col-10">
      </div>
    </div>
  </div>
  <br>
  <footer class="text-muted">
    <div class="container text-center" style="font-size: 16px; line-height:1;">
      <p>The beautiful font used for this website is called 'Josefin Slab' and was designed by <a href="https://fonts.google.com/specimen/Josefin+Slab?selection.family=Josefin+Slab/" target="_blank">Santiago Orozco</a></p>
      <p>©️ Henriette Hettinga {% now "Y" %}</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
