<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <h1>Elevador - take your projects and ideas to the next level</h1>
        <h3><i>An open space for workshops, events and exhibitions</i></h3>
      </div>
    </div>

    <div class="col-2">
      <h4>
      <ul class="nav flex-column justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'about' %}">About Elevador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery' %}">Photo gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'who' %}">Who we are</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      </h4>
    </div>

  </body>
</html>
