<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Elevador Gallery</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
  <style>
  body {
    font-family: 'Josefin Slab', serif;
    font-size: 21px;
  }
  </style>
</head>

<header>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="mx-auto d-block" src="/static/images/elevador_logo.png" alt="Elevador logo English and Spanish">
      </div>
    </div>
  </div>
  <hr>
</header>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub1.jpg" class="card-img-top" alt="Workshop filmmaking 1">
          <div class="card-body">
            <p class="card-text">Acting out the script during the workshop videomaking</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub2.jpg" class="card-img-top" alt="Workshop filmmaking 2">
          <div class="card-body">
            <p class="card-text">Brainstorming during the workshop videomaking</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub3.png" class="card-img-top" alt="Workshop filmmaking 3">
          <div class="card-body">
            <p class="card-text">Instructions during the workshop videomaking</p>
          </div>
        </div>
      </div>
      <br>

      <div class="col-2">
        <h4>
          <ul class="nav flex-column justify-content-end text-right">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'home' %}" target="_blank">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}" target="_blank">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery' %}" target="_blank">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}" target="_blank">Contact</a>
            </li>
          </ul>
        </h4>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub1.jpg" class="card-img-top" alt="Workshop filmmaking 1">
          <div class="card-body">
            <p class="card-text">Acting out the script during the workshop videomaking</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub2.jpg" class="card-img-top" alt="Workshop filmmaking 2">
          <div class="card-body">
            <p class="card-text">Brainstorming during the workshop videomaking</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub3.png" class="card-img-top" alt="Workshop filmmaking 3">
          <div class="card-body">
            <p class="card-text">Instructions during the workshop videomaking</p>
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/music_guitar.png" class="card-img-top" alt="Turntable, records and guitar">
          <div class="card-body">
            <p class="card-text">Monthly Beer and Blues sessions</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/beamer2.jpg" class="card-img-top" alt="Beamer">
          <div class="card-body">
            <p class="card-text">Beamer, whiteboard and blackboard available</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/bathroom.jpg" class="card-img-top" alt="Bathroom">
          <div class="card-body">
            <p class="card-text">Modern bathroom available</p>
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub1.jpg" class="card-img-top" alt="Workshop filmmaking 1">
          <div class="card-body">
            <p class="card-text">Acting out the script during the workshop videomaking</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub2.jpg" class="card-img-top" alt="Workshop filmmaking 2">
          <div class="card-body">
            <p class="card-text">Brainstorming during the workshop videomaking</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="font-size: 18px;">
          <img src="/static/images/filmclub3.png" class="card-img-top" alt="Workshop filmmaking 3">
          <div class="card-body">
            <p class="card-text">Instructions during the workshop videomaking</p>
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
</body>
</html>
