{% extends 'base.html' %}
{% block content %}

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div id="elevadorpictures" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#elevadorpictures" data-slide-to="0" class="active"></li>
            <li data-target="#elevadorpictures" data-slide-to="1"></li>
            <li data-target="#elevadorpictures" data-slide-to="2"></li>
            <li data-target="#elevadorpictures" data-slide-to="3"></li>
            <li data-target="#elevadorpictures" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner" role="listbox" style="width:100%; height:450px !important;">
            <div class="carousel-item active">
              <img src="/static/images/main_area.png" class="d-block w-100" alt="Elevador main area">
            </div>
            <div class="carousel-item">
              <img src="/static/images/mel_merlyn_concert.png" class="d-block w-100" alt="Mel Brennan in concert">
            </div>
            <div class="carousel-item">
              <img src="/static/images/chats.jpeg" class="d-block w-100" alt="Drinks and chats">
            </div>
            <div class="carousel-item">
              <img src="/static/images/beamer.png" class="d-block w-100" alt="Beamer">
            </div>
            <div class="carousel-item">
              <img src="/static/images/park.png" class="d-block w-100" alt="Park opposite Elevador">
            </div>
          </div>
          <a class="carousel-control-prev" href="#elevadorpictures" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#elevadorpictures" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1>Elevador - take your projects and ideas to the next level</h1>
        <h3><i>An open space for workshops, events and exhibitions</i></h3>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-10" style="font-size: 22px;">
        <p>Elevador is a place to learn and discover: an open space that offers various activities in the areas of technology, art, literature, creative writing, music etc. It is a place that can be used for workshops and teaching. From time to time, Elevador will also be hosting small concerts and exhibitions.</p>
        <p>In addition, Elevador wants to offer an opportunity to people who want to start/conduct group activities such as Meetups, but cannot find or afford a suitable space.</p>
        <p>Elevador aims to be a safe and welcoming place for all. Read the <a href="{% url 'codeofconduct' %}" target="_blank">Elevador Code of Conduct</a> for more detailed information.</p>
      </div>
      <br>
      <br>
      <div class="col-2">
        <h4>
        <ul class="nav flex-column justify-content-end text-right">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'about' %}" target="_blank">About Elevador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery' %}" target="_blank">Photo gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'who' %}" target="_blank">Who we are</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}" target="_blank">Contact</a>
          </li>
        </ul>
        </h4>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem; font-size: 18px;">
          <img src="/static/images/audience.jpeg" class="card-img-top" alt="Audience at small concert">
          <div class="card-body">
            <p class="card-text">The audience at a concert in Elevador</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem; font-size: 18px;">
          <img src="/static/images/filmclub1.jpg" class="card-img-top" alt="Film club workshop">
          <div class="card-body">
            <p class="card-text">An Elevador workshop on video making and acting</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem; font-size: 18px;">
          <img src="/static/images/donations.jpg" class="card-img-top" alt="Hat with donations">
          <div class="card-body">
            <p class="card-text">Most Elevador activities are donation based</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
{% endblock %}
